{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Envoi d'un appareil | DJASSA-STORE</title>
    <meta charset="UTF-8">
      <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/boxicons.css' %}">
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- Header -->
         {% include 'djassa-store/header.html' with val=count %}


    <!-- Title page -->
   <br><br> <section class="bg-img1 txt-center p-lr-15 p-tb-92">
        <h2 class="ltext-105 cl0 txt-center">
            ENVOYER MON APPAREIL
        </h2>
    </section>


    <!-- Content page -->
    <section class="bg0 p-t-23 p-b-10">
        <div class="container">
        {% if success %}
            <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>bravo!</strong> {{success}}.
            </div>
        {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            Diagnostic de votre téléphone
                        </h4>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 respon6-next">
                            <h6 style="font-weight:bold;">NATURE DE LA PANNE</h6>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="ecran" type="checkbox" id="inlineCheckbox1" value="ecran">
                                <label class="form-check-label" for="inlineCheckbox1">Ecran</label>
                                </div>{% csrf_token %}
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="vitre_arriere" type="checkbox" id="inlineCheckbox2" value="vitre arrière">
                                <label class="form-check-label" for="inlineCheckbox2">Vitre arrière</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="camera" type="checkbox" id="inlineCheckbox3" value="caméra">
                                <label class="form-check-label" for="inlineCheckbox3">Caméra</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="batterie" type="checkbox" id="inlineCheckbox4" value="batterie">
                                <label class="form-check-label" for="inlineCheckbox4">Batterie</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="connectique" type="checkbox" id="inlineCheckbox5" value="connectique">
                                <label class="form-check-label" for="inlineCheckbox5">Connectiques</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="haut_parleur" type="checkbox" id="inlineCheckbox6" value="haut parleur">
                                <label class="form-check-label" for="inlineCheckbox6">Haut parleur</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                <input class="form-check-input" name="autre" type="checkbox" id="inlineCheckbox7" value="autre">
                                <label class="form-check-label" for="inlineCheckbox7">Autres</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 respon6-next">
                            <h6 style="font-weight:bold;">Indiquez le modèle et la marque de votre appareil</h6>
                                <div class="form-group">
                                    <input type="text" name="modele" class="form-control" placeholder="Exemple: Iphone 11 Pro" required>
                                </div>
                            </div>
                        </div>
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 respon6-next">
                            <h6 style="font-weight:bold;">Expliquez en quelques mots votre panne</h6>
                                <div class="form-group">
                                    <textarea class="form-control" name="explication" id="exampleFormControlTextarea1" placeholder="Exemple: Le telephone ne s'allume plus après une mauvaise manipulation" rows="2"></textarea> 
                                </div>
                            </div>
                        </div>
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 respon6-next">
                                <div class="row">
                                    <div class="col">
                                    <h6 style="font-weight:bold;">Date de rendez-vous</h6>
                                    <input type="date" name="date" class="form-control" placeholder="Nom" required>
                                    </div>
                                    <div class="col">
                                    <h6 style="font-weight:bold;">heures de rendez-vous</h6>
                                    <input type="time" name="heure" class="form-control" min="09:00" max="18:00" placeholder="Prenom" required>
                                    <small>Ouvert de 9h à 18h </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg2 bor1 hov-btn1 p-lr-15 trans-04 pointer">
							CONFIRMER
						</button>
                    </form>
        </div>
    </section>



    <!-- Footer -->
   {% include 'djassa-store/footer.html' %}


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script>
        $(".js-select2").each(function() {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script>
        $('.js-pscroll').each(function() {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function() {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="{% static 'js/map-custom.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>
     

</body>

</html>